extends layoutB

block content
  h1  About the Developers
  div
    h3 Tim Gowan
    ul
        li
          strong Software Consigliere Extraordinaire
        li Currently working as a consultant for Hewlett Packard Enterprise.
        li
            a(href='https://www.linkedin.com/in/tim-gowan-043071b3' target='_blank') LinkedIn
  div
    h3 Jonathan Holmes
    ul
        li
          strong Software Engineer
          li
              a(href='http://crait.net' target='_blank') crait.net
  div
    h3 Rahat Ahmed
    ul
        li
          strong Full-stack developer
          li
              a(href='http://rahatah.me' target='_blank') rahatah.me/d
  div
    h3 Jonathan Darling
    ul
        li
          strong Front-end developer
        li Front-end developer at DCS Information systems
          li
              a(href='https://jmdarling.com/' target='_blank') jmdarling.com
  div
    h3 Marie Imperial
    ul
        li
          strong Software Developer
        li Currently working as a Software Developer Intern for CodeAuthority
        li
            a(href='https://www.linkedin.com/in/marie-imperial-539b1787' target='_blank') LinkedIn
