a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight:bold;
}
a:active {
  color: #FFFFFF;
  text-decoration: none;
  font-weight:bold;
}
a:link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight:bold;
}
a:visited {
  color: #FFFFFF;
  text-decoration: none;
  font-weight:bold;
}
a:hover {
  color: #FFFFFF;
  text-decoration: none;
  font-weight:bold;
}


a.panel {
  color: #333;
  text-decoration: none;
  font-weight:bold;
}

.navigation {
  margin:0px;
}

/*article page*/
#hashPrompt{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*editor page*/
#formTitle{
  margin: 10px 30px;
}
#articleForm{
  flex: 1;
  margin: 30px;
}
input.editor{
  display: inline-block;
  width: 100%;
  min-height: 40px;
}

.grabby {
  
}